# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Gradle caches / local wrapper dists (DO NOT COMMIT)
.gradle/
**/.gradle/
.gradle_home/
**/wrapper/dists/
